.approvers {
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}

.approvers:last-child {
  border-bottom: unset;
}

.approval-list {
  margin: 16px 0;
}

.approval-list-item {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.approval-list-item > * {
  width: 24px;
}

.item-flex-width {
  margin-left: 8px;
  flex-grow: 1;
  line-height: 16px;
}

.approval-type {
  font-size: 12px;
  color: grey;
}

.circle {
  width: 16px;
  height: 16px;
  background: lightgray;
  border-radius: 50%;
  color: grey;
  font-size: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-empty {
  border: 1px solid lightgray;
  background: #ffffff;
}

.circle-red {
  background: #ff6448;
}

.circle-tick {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #26c281;
}

.circle-tick > img {
  width: 65%;
}

.approver-info {
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
}

.approver-info > span:first-child {
  font-weight: 500;
  margin-right: 8px;
}

.approver-info > span:nth-child(2) {
  font-size: 12px;
  color: grey;
}

.approver-date {
  color: grey;
  font-size: 12px;
}
