.approval-wrapper {
  display: flex;
  flex-flow: wrap;
  background: #ffffff;
  border-radius: 8px;
}

.section {
  box-sizing: border-box;
}

.section > * {
  margin: 16px;
}

.section:last-child {
  border-bottom: unset;
}

.section-left {
  flex-basis: 60%;
  border-right: 1px solid rgba(34, 34, 34, 0.05);
}

.section-right {
  flex-basis: 40%;
}

/**
 Remove the right border for any immediate sibling sharing the same line
 */
.section-split + .section-split {
  border-right: unset;
}

.request-warning {
  color: grey;
  line-height: 20px;
  font-size: 12px;
}

.request-actions {
  margin-top: 0;
}

.request-actions > button {
  margin-right: 8px;
}

.button {
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  user-select: none;
  outline: none;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
}

.button-green {
  background: #26c281;
}

.button-red {
  background: #ff6448;
}

.heading {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  padding: 16px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}

.heading > img {
  height: 36px;
  margin-right: 8px;
}

.heading > span {
  font-weight: 500;
  font-size: 16px;
}

/**
  Media queries
 */

@media only screen and (max-width: 768px) {
  .section-left {
    flex-basis: 100%;
  }
  .section-right {
    flex-basis: 100%;
    box-shadow: 0 -1px 0 rgba(34, 34, 34, 0.05), 0 1px 0 rgba(34, 34, 34, 0.05);
  }

  .request-actions {
    background: #f2f2f2;
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
  }

  .button {
    flex-grow: 1;
  }
}
