.request-details {
  display: flex;
  flex-flow: wrap;
  border: 1px solid rgba(34, 34, 34, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.05);
}

.details-line {
  flex-basis: 100%;
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
  padding: 16px;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  line-height: 16px;
  align-items: center;
}

.details-line > div:first-child {
  color: grey;
  display: inline-block;
  min-width: 150px;
}

.details-line > div:nth-child(2) {
  flex-grow: 1;
}

.details-line:last-child {
  border-bottom: unset;
}

.details-line-half {
  flex-basis: 50%;
  border-right: 1px solid rgba(34, 34, 34, 0.05);
  flex-grow: 1;
  /*
   hide the overlapping border
   */
  margin-right: -1px;
}

/**
 Remove the right border for any immediate sibling sharing the same line
 */
.details-line-half + .details-line-half {
  border-right: unset;
}

.requested-by {
  display: flex;
  align-items: center;
}

.requested-by > img {
  width: 24px;
  margin-right: 8px;
}

.file-dl-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.file-dl-wrapper:last-child {
  margin-bottom: unset;
}

.file-dl-wrapper > img {
  margin-right: 8px;
}

.file-dl-wrapper > a {
  text-decoration: none;
  color: black;
}

.description {
  line-height: 20px;
}
