@font-face {
  font-family: "SFProDisplay";
  src: local("SFProDisplay"), url(./assets/SFProDisplay.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: local("SFProDisplay"), url(./assets/SFProDisplayMedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

/**
 Colors
 */
.orange {
  color: #ffa03d;
}
.red {
  color: #ff6448;
}

body {
  background: #f2f2f2;
  line-height: 14px;
  font-family: SFProDisplay, sans-serif;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  max-width: 900px;
}

.branding {
  margin: 16px 0 0 0;
}
.branding > img {
  height: 24px;
}

.security-message {
  display: flex;
  font-size: 12px;
  margin: 16px 0 16px 0;
  color: grey;
  font-weight: 500;
}
.security-message > * {
  margin-right: 8px;
}
.security-message > span > img {
  margin-right: 4px;
  height: 12px;
}

@media only screen and (max-width: 768px) {
  .branding {
    margin-bottom: 16px;
  }
  .security-message {
    flex-direction: column;
    border-top: 1px solid rgba(34, 34, 34, 0.05);
    margin-top: 0;
    padding-top: 16px;
  }
  .security-message > span:last-child {
    flex-basis: 100%;
    margin-top: 8px;
  }
}
